.payment-method {
  margin: auto;
}

.product-list {
  margin-top: 50px;
}

.product-description {
  height: 100px;
}

.well {
  min-height: 255px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: auto;
  max-width: 900px;
  padding: 9 15px; 
}

.container .footer-text {
  margin: 20px 0;
}

.badge {
  background-color: #e4aa48;
}

button.link {
  background: none;
  border: none;
  margin: 0;
  padding: 3px;
  width: 100px;
  outline: none;
  outline-offset: 0;
  color: grey;
}